<div>
    <ul>
        <li>
            <a href="https://angular.dev" 
            appSafeLink>Angular Docs</a>
        </li>
    

    
        <li> 
            <a href="https://github.com/techramj"
            appSafeLink ="Angular_11feb2025"
            >Angular Seed Tutorials</a>
        </li>
    

    
        <li>
            <a href="https://github.com/techramj" appSafeLink="Angular_reference_code">
            Angular Reference Link
            </a>
        </li>


        <li>
            <a href="https://google.co.in" 
            appSafeLink >
            Google News
            </a>
        </li>
    </ul>

    
   
    
</div>
