<div class="container">
    <form  (ngSubmit)="onSubmit()"  #f ="ngForm">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="text" class="form-control" id="email" name="email" 
          ngModel
          required
          email
          >
        </div>

        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username"  name="username" 
          ngModel
          required
          >
        </div>
        <button type="submit" [disabled]="!f.valid" class="btn btn-primary">Submit</button>
      </form>
</div>