<div class="container">
    <form  (ngSubmit)="onSubmit(f, email, user)"  #f>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" name="email" #email>
        </div>

        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username"  #user>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>